{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .search-container {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .search-bar {
        width: 70%;
        padding: 10px;
        border: 2px solid #ddd;
        border-radius: 20px;
        font-size: 16px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .search-button {
        padding: 10px 20px;
        margin-left: 10px;
        width: 15%;
        border: none;
        border-radius: 20px;
        background-color: #5cb85c;
        color: white;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
    }

    .search-button:hover {
        background-color: #4cae4c;
    }

    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; /* Align items to the start */
        gap: 20px; /* Space between products */
    }
    .user-products {
        /* background-color: #f8f8f8; Light grey background for subtle contrast */
        padding: 20px;
        border-radius: 10px;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
        margin-top: 20px;
    }
    .product {
        flex-basis: calc(23%); /* Adjust width to fit 3 items per row, accounting for gap */
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden; /* Ensures the child elements do not overflow the border-radius */
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin: 0 auto;
    }

    .product:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .product img {
        width: 100%;
        height: 200px; /* Fixed height for uniformity */
        object-fit: cover;
    }

    .product-info {
        padding: 15px;
        text-align: left;
    }

    .product-info h2 {
        margin-top: 0;
        color: #333;
        font-size: 20px;
    }

    .product-info p {
        margin: 5px 0;
        color: #555;
        font-size: 14px;
    }

    .product-info .price {
        font-weight: bold;
        color: #5cb85c;
    }

    .title {
        text-align: center;
        font-size: 48px;
        color: #333;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .banner-image {
        width: 100%; /* Full width */
        height: 30vh; /* 30% of the viewport height */
        background-image: url('static/images/banner2.png');
        background-size: cover; /* Zoom and cover the div */
        background-position: center; /* Center the image */
        margin: 0 auto; /* Center the div */
        border-radius: 0; /* Optional, based on your design preference */
    }

    /* Container for dropdowns to align them in a row */
    .dropdown-row {
        display: flex;
        justify-content: center;
        gap: 10px; /* Space between dropdowns */
    }

    /* Style for dropdown selects */
    .search-dropdown select {
        width: auto; /* Auto-width based on content */
        padding: 10px;
        border: 2px solid #ddd;
        border-radius: 20px;
        font-size: 16px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin-top: 20px;
        /* margin-bottom: 20px 20px 20px 20px; Add some space below the dropdowns */
    }

    /* Responsive design for smaller screens */
    @media (max-width: 768px) {
        .dropdown-row {
            flex-direction: column;
        }

        .search-dropdown select{
            width: calc(100% - 22px);
        }
    }

</style>
<!-- <div class="banner-image"></div> -->
<div class="title">
    <i class="fa fa-university"></i> UniMarketPlace
</div>


<div class="search-container">
    <form method="post" action="/">
        <input type="text" name="search_term" class="search-bar" placeholder="Search for products...">
            <!-- Category Dropdown -->
            <div class="search-dropdown">
                <select name="category" class="search-bar">
                    <option value="">Category</option>
                    <option value="books">Books</option>
                    <option value="electronics">Electronics</option>
                    <option value="home">Home</option>
                    <option value="clothing">Clothing</option>
                    <option value="other">Other</option>
                </select>
                <select name="sort" class="search-bar">
                    <option value="">Sort By</option>
                    <option value="price_asc">Price (Low to High)</option>
                    <option value="price_desc">Price (High to Low)</option>
                    <option value="name_asc">Name (A to Z)</option>
                    <option value="name_desc">Name (Z to A)</option>
                    <option value="date_asc">Date (Oldest to Newest)</option>
                    <option value="date_desc">Date (Newest to Oldest)</option>
                </select>
                
                <select name="condition" class="search-bar">
                    <option value="">Condition</option>
                    <option value="new">New</option>
                    <option value="used">Used</option>
                </select>

                <select name="campus" class="search-bar">
                    <option value="">University</option>
                    <option value="self_campus">Only My University</option>
                    <option value="all_campuses">All Universities</option>
                </select>
                <input type="submit" value="Search" class="search-button">
            </div>
        
    </form>
</div>

<!-- {% if products %}
    <div class="product-list">
        {% for product in products %}
            <div class="product">
                <img src="{{ product.image_link }}" alt="{{ product.name }}">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description[:100] }}{% if product.description|length > 100 %}...{% endif %}</p>
                <p>Cost: ${{ product.price }}</p>
            </div>
        {% endfor %}
    </div>
{% endif %} -->
{% if products %}
<div class="user-products">
        <div class="product-list">
            {% for product in products %}
                <div class="product">
                    <img src="{{ product.image_link }}" alt="{{ product.name }}">
                    <div class="product-info">
                        <h2>{{ product.name }}</h2>
                        <p>{{ product.description[:100] }}{% if product.description|length > 100 %}...{% endif %}</p>
                        <p class="price">Cost: ${{ product.price }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}
