{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .search-container {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .search-bar {
        width: 50%;
        padding: 10px;
        border: 2px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .search-button {
        padding: 10px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 5px;
        background-color: #5cb85c;
        color: white;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
    }

    .search-button:hover {
        background-color: #4cae4c;
    }

    .product {
        margin: 10px;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: #f9f9f9;
        flex-basis: calc(25% - 20px); /* Adjust width to fit 4 items per row, accounting for margin */
    }

    .product h2 {
        color: #333;
    }

    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product img {
        width: 100%;
        height: auto;
        object-fit: cover; 
        margin-bottom: 10px;
    }

    .title {
        text-align: center;
        font-size: 48px;
        color: #333;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .banner-image {
        width: 100%; /* Full width */
        height: 30vh; /* 30% of the viewport height */
        background-image: url('static/images/banner2.png');
        background-size: cover; /* Zoom and cover the div */
        background-position: center; /* Center the image */
        margin: 0 auto; /* Center the div */
        border-radius: 0; /* Optional, based on your design preference */
    }

</style>
<!-- <div class="banner-image"></div> -->
<div class="title">
    <i class="fa fa-university"></i> UniMarketPlace
</div>


<div class="search-container">
    <form method="post" action="/">
        <input type="text" name="search_term" class="search-bar" placeholder="Search for products...">
        <input type="submit" value="Search" class="search-button">
    </form>
</div>

{% if products %}
    <div class="product-list">
        {% for product in products %}
            <div class="product">
                <h2>{{ product.name }}</h2>
                <img src="{{ product.image_link }}" alt="{{ product.name }}">
                <p>{{ product.description[:100] }}{% if product.description|length > 100 %}...{% endif %}</p>
                <p>Cost: ${{ product.price }}</p>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
